.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.transcContainer {
    display: flex;
    flex-direction: column;
}
.calendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;
    padding: 5px;
}
.calendarMonths {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* Keeps the grid alignment with calendarBody */
    align-items: center;
    color: #ADADAD;
    gap: 10px; /* Adjusted for visual consistency with calendarBody */
    padding: 10px; /* Consistent with calendarBody for uniform spacing */
}
.calendar {
    display: flex;
    flex-direction: column;
    color: #ADADAD;
    background-color: #171C1E;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px auto; /* Centered with auto margins on the sides, removed redundant margin-top */
    width: calc(100vw - 40px); /* Adjusted for consistent margin and responsiveness */
    box-sizing: border-box; /* Padding and border included in the width */
}
.calendarBody {
    display: grid;
    grid-template-columns: repeat(7, 1fr); /* 7 days a week */
    gap: 10px; /* Adjusted for visual consistency with calendarMonths */
    padding: 10px; /* Consistent with calendarMonths for uniform spacing */
}
.calendarHeaderCell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding: 5px;
}
.calendarCell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #1E2426;
    color: #ADADAD;
    border-radius: 4px;
}
.currentDate {
    background-color: #4F8BF9; /* Highlight color for the current date */
    color: #FFFFFF;
}
