.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; /* Adjusted margin top for spacing */
}

.transcContainer {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center items horizontally */
}

.calendarHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100vw - 40px);
    margin: 0 auto; /* Center horizontally */
    margin-bottom: 10px; /* Added margin bottom for separation */
    color: #000000;
    border-radius: 8px; /* Rounded corners */
}

.calendarMonths {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 10px;
    text-align: center; /* Center text horizontally */
    color: #ADADAD;
}

.calendar {
    display: flex;
    flex-direction: column;
    width: calc(100vw - 40px);
    margin: 0 auto; /* Center horizontally */
    margin-bottom: 50px;
    background-color: #171C1E;
    color: #ADADAD;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calendarBody {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 10px;
}

.calendarHeaderCell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: bold;
}

.calendarCell {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    background-color: #1E2426;
    color: #ADADAD;
    border-radius: 4px;
}

.currentDate {
    background-color: #4F8BF9;
    color: #FFFFFF;
}

.startNewEntryButton {
    width: calc(100vw - 60px);
    margin: 0 auto; /* Center horizontally */
    padding: 10px;
    background-color: #1F7A8C;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none; /* Remove underline from Link */
}