.main {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* Change flex direction to column */
    align-items: center;
    justify-content: center; /* Center content horizontally */
    position: fixed;
    background: transparent;
    z-index: 99;
    top: 0; /* Ensures it's at the top of the viewport */
}

.logo {
    width: 110px; /* Adjust size as needed */
    height: auto;
    filter: invert(80%);
    margin-bottom: 5px; /* Add some space between the logo and the text */
    justify-content: center;
}

.logoContainer {
    display: flex;
    align-items: center;
    flex-direction: column; /* Change flex direction to column */
}

.logoContainer img {
    margin-right: 0.5rem; /* Adjust as needed for spacing */
}

.homeText {
    margin: 0; /* Provide a value for margin */
    font-size: 0.9rem; /* Adjust size as needed */
    color:rgb(211, 211, 211)
}