/* src/Chatbot.css */

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.nav-button {
  background: none;
  border: none;
  font-size: 15px;
  cursor: pointer;
  color: #1F7A8C;
}

.nav-button:hover {
  color: #1F7A8C;
}

.NewEntry {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
  }
  
  
  .chat-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background-color: #171C1E;
    color: #ffffff;
    position: relative;
  }
  
  .back-button {
    background: none;
    border: none;
    color: #1F7A8C;
    font-size: 20px;
    margin-right: 10px;
    cursor: pointer;
    z-index: 100;
  }

  .header-content {
    flex: 1; /* Allow the header content to grow */
    display: flex;
    justify-content: center; /* Center the content horizontally */
    align-items: center; /* Center the content vertically */
  }
  
  .chat-window {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    background: #f9f9f9;
    display: flex;
    flex-direction: column;
  }
  
  .message {
    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 20px;
    max-width: 60%;
    display: inline-block;
    word-wrap: break-word;
  }
  
  .message.user {
    align-self: flex-end;
    background: #1F7A8C;
    color: #fff;
    margin-left: auto; 
    text-align: left;
  }
  
  .message.bot {
    align-self: flex-start;
    background: #e1e1e1;
    color: #000;
    margin-right: auto;
    text-align: left;
  }
  
  .input-form {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    background: #fff; /* Add background color if needed */
  }
  
  .input-form input {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 20px;
    margin: 0 10px;
    background: #f1f1f1;
  }
  
  .input-form .camera-button, .input-form .send-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #1F7A8C;
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 1rem;
    border-radius: 5px;
    z-index: 1000;
    text-align: center;
  }

/* src/styles/newentry/NewEntry.css */
.disabled-text-box {
  position: fixed; /* Make it fixed to center in the viewport */
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Adjust position to center properly */
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* Ensure it doesn't interfere with clicking */
  z-index: 2; /* Ensure it appears above other elements */
}

.disabled-text {
  color: white;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  border-radius: 5px;
}